@import "./reset.css";
@import "./home.css";

.layout {
  padding-top: 120px;
}
html {
  background: #f5f6dc;
  color: #852623;
  font-family: "Volkhov", serif;
}
body,
html {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
main {
  padding: 20px;
  box-sizing: border-box;
}
.icon {
  width: 26px !important;
  height: 26px !important;
  display: block;
}

.icon svg,
img {
  width: 100%;
  height: 100%;
}
.content + * {
  padding: 20px;
  padding-top: 100px;
  box-sizing: border-box;
}

.tabs-trigger[data-state="active"] {
  @apply border-0 border-solid border-b-2 border-b-black shadow-none;
}

/* flex */
/* .flex-row {
  display: flex;
  align-items: center;
} */

/* .gap-10 { */
/* gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-60 {
  gap: 60px;
} */
