@import "./reset.css";
@import "./home.css";

.layout {
  padding-top: 120px;
}
body,
html {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
main {
  padding: 20px;
  box-sizing: border-box;
}
.icon {
  width: 26px;
  height: 26px;
  display: block;
}

.icon svg,
img {
  width: 100%;
  height: 100%;
}
.content + * {
  padding: 20px;
  padding-top: 100px;
  box-sizing: border-box;
}

/* flex */
.flex-row {
  display: flex;
  align-items: center;
}

.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
