.banner_wrap {
  position: relative;
  z-index: 1;
}
.banner_wrap::before {
  content: "";
  position: absolute;
  left: 0;
  margin: 0 auto;
  right: -100vw;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background: rgb(255, 210, 160);
  z-index: -1;
}
/* 슬라이드 색상들 */
.banner_bg_1::before {
  background-color: #deccb4;
}
.banner_bg_2::before {
  background-color: #949ebd;
}
.banner_bg_3::before {
  background-color: #f1d06c;
}

.banner_slide .img_wrap {
  width: 790px;
  height: 450px;
}

.banner {
  gap: 20px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner_slide .img_wrap img {
  width: 100%;
  height: 100%;
}
