.header_wrap {
  width: 100%;
  height: 120px;
  padding: 20px 20px;
  background-color: #f5f6dc;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
.header {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.top {
  flex: 1;
  justify-content: space-between;
}
.nav {
  flex: 1;
}
.nav ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  gap: 50px;
}
